
<!DOCTYPE html>
<html>
<head>
  <title>ALI MAQSOOD BAJWA</title>
  <style>
    body {
  background-image: url("./img/background1.gif");
  background-size: cover;
  background-position: center;
}



.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.heading  {
  position: absolute;
  top: 20px;
  left: 140px;
  color :#000000;
  font-size: 24px;
  line-height: 100px; /* Match the height of the logo */
  margin: 0;
  padding-left: 10px; /* Add some spacing between logo and heading */
}


.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  
  font-size: 18px;
}

.nav a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  border: 5px solid #000000;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}



.box {
  position: absolute;
  top: 300px; /* Adjust the top position as needed */
  left: 50px; /* Adjust the left position as needed */
  width: 200px;
  height: 200px;
  background-color:#ffffff;
  padding: 20px;
  border-radius: 10px;
  
}



.div image{
 position:absolute;
  top: 100px;
  right: 20px;
  bottom: 20px;
  left: 800px;
 padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 80%;
 
  
}
footer {
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

  </style>

</head>
<body>
  <div class="container">
   
    <img class="logo" src="./img/logo.png" alt="Logo"><br><br><br><br><br>
    <h1 class="heading"><h1>Welcome to Bajwa Web Solutions!</h1><br><br>
    

    <div class="nav">
      <a href = "/">Home </a>
      <a href="about">About</a>
      <a href="project">Projects</a>
      <a href="services">Services</a>
      <a href="contact">Contact me</a>
    </nav><br><br><br><br><br><br><br><br><br><br>
      <img src="./img/ali.jpg" alt="Image" height="400px">
   
    </div>

    <div class="box" style="top: 250px;">
      <h2>Overview  :</h2>
      <p> Bajwa Web Solutions is a prominent website development company known for its 
        exceptional services in the industry. With a strong foundation and a commitment to excellence,
         the company offers a wide range of web development solutions to clients across various sectors.</p>
    </div>
      
    <div class="box" style="top: 250px; left: 300px;">
      <h2>About Founder :</h2>
      <p>Founded by the visionary entrepreneur, Bajwa, the company has become a
         trusted partner for businesses, startups, and organizations seeking innovative
         and customized web solutions. Bajwa Web Solutions aims to empower clients with cutting-edge
         technologies and help them achieve their online objectives, driving digital success and growth. </p>
    </div>
    <div class="box" style="top: 500px;">
      <h2>Our Team:</h2>
      <p>Meet our team :
        <h5><b>jake - Lead Instructor</b></h5>
        <h5><b>jasmine - Administrator</b></h5>
        <h5><b>rahul - Technical Advisor</b></h5>
      </p>
      <div class="box" style="top: 0px; left: 250px;">
        <h2>Join our team :</h2>
        <p>   For any queries contact owner at <b>647 453 6556  or alibajwa6637@gmail </b></p>
   </div>
   
   
  <%- include('./partials/footer.ejs') %>

  </div>
  </body>
  </html>

